@using StephenBookShelf.Models;


<h1>Stephen BookShelf</h1>

<h3>A Place where you can purchase a variety of books at an Affordable Price</h3>

<form method="post" asp-action="Search" asp-controller="Bookstore">
    <div class="text-right">
        <label for="Name">Search :</label>
        <input type="text" id="Name" name="keyword" placeholder="Type the BookName or Name of the Author or Title or Category" />
    </div>


    <div class="text-right">
        <button type="submit"><strong>Search</strong></button>
    </div>
    <br>
</form>

<br>
<br>
<br>
<div class="text-right">
    <a class="nav-link text-dark" asp-area="" asp-controller="Bookstore" asp-action="YourCart"><strong>Your Cart</strong></a>
</div>
<br>
<br>
<br>
<br>

<table>
        <tbody>
            <tr>
            
@foreach (var book in Model)
{
                <td>
    @if (book.BookId == "1")
    {

        <div class="image-container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Bookstore" asp-action="Details" asp-route-BookId="1">
                <img src="~/images/Baskervile Hall.jpg" alt="Image not found" />
                                <span class="image-heading"><strong>SherLockHolmesBaskervileHall</strong></span>
            </a>
        </div>
    }

    else if (book.BookId == "2")

    {
        <div class="image-container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Bookstore" asp-action="Details" asp-route-BookId="2">
                <img src="~/images/Art of the Deal.jpg" alt="Image not found" />
                                <span class="image-heading"><strong>Art of the Deal</strong></span>
            </a>
        </div>
    }

    else if (book.BookId == "3")
    {
        <div class="image-container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Bookstore" asp-action="Details" asp-route-BookId="3">
                <img src="~/images/Confessions of An Economic Hitman.jpg" alt="Image not found" />
                                <span class="image-heading"><strong>Confessions of An Economic Hitman</strong></span>
            </a>
        </div>
    }

    else if (book.BookId == "4")
    {
        <div class="image-container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Bookstore" asp-action="Details" asp-route-BookId="4">
                <img src="~/images/MurderontheOrientExpress.jpg" alt="Image not found" />
                                <span class="image-heading"><strong>Murder on the Orient Express</strong></span>
            </a>
        </div>
    }
    
    else if (book.BookId == "5")
    {
        <div class="image-container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Bookstore" asp-action="Details" asp-route-BookId="5">
                <img src="~/images/Never Give an Inch Fighting for the America I Love.jpg" alt="Image not found" />
                                <span class="image-heading"><strong>Never Give an Inch Fighting for the America I Love</strong></span>
            </a>
        </div>
    }

    else if (book.BookId == "6")
    {
        <div class="image-container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Bookstore" asp-action="Details" asp-route-BookId="6">
                <img src="~/images/rich dad poor dad.jpg" alt="Image not found" />
                                <span class="image-heading"><strong>Rich Dad Poor Dad</strong></span>
            </a>
        </div>
    }

    else if (book.BookId == "7")
    {
        <div class="image-container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Bookstore" asp-action="Details" asp-route-BookId="7">
                <img src="~/images/The Guns of August.jpg" alt="Image not found" />
                                <span class="image-heading"><strong>The Guns of August</strong></span>
            </a>
        </div>
    }

    else
    {
<div class="image-container">
    <a class="nav-link text-dark" asp-area="" asp-controller="Bookstore" asp-action="Details" asp-route-BookId="8">
        <img src="~/images/War and Peace.jpg" alt="Image not found" />
                                <span class="image-heading"><strong>War and Peace</strong></span>
    </a>
</div>
    }
     </td>

}
   
     </tr>
  </tbody>
    </table>
    
  
